
.navi{
    background-color: black;
    color: white;  
}
li,ul{
    padding-bottom: 5px;
    display: inline-block;
}
h1
{
    margin-left: 45%;
    padding-top: 10px;
    font-size: 40px;
}
ul
{
    margin-left: 38%;
}

li:hover{
    color: red;
    cursor: pointer;
}
.body
{
    padding: 100px;
    margin-left: 150px;

}
.one{
    width: 200px; 
   border: 3px black solid;
   display: inline-block;
   background-color: white;
   color: black;
   
}

.contact{
    background-color: black;
    color: whitesmoke;
    height: 300px;
    
}

.info{
    text-align: center;

}